.footer_position_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;
}

