.container {
    background-image: url("../images/background1.svg");
    max-width: 1900px;
    margin: 0 auto;
    width: 100%;
    height: 768px;
    background-size: cover;
}


a.header_logo_img_hover {
    width: 53px;
    height: 47px;
    display: block;
    background-image: url("../images/logo 3 (1).svg");
}

a.header_logo_img_hover:hover {
    background-image: url("../images/logo 2.svg");
    color: #F26522;
}

a.header_logo_hover{
    color: #FFFFFF;
}

a.header_logo_hover:hover{
    color: #F26522;
}


.container2 {
    max-width: 1000px;
    margin: 0 auto;
}

.milan {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;

}

.holidays {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

}

.header_contacts_mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.header_contacts_phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.header_styles {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header_logo {
    display: flex;
}

.header_contacts_phone {
    padding-top: 15px;
    text-align: end;
}

.header_logo_text{
    padding-left: 55px;
}

