.image_position {
    display: flex;
    padding-top: 20px;
}

.image_position_part_2 {
    display: flex;
}

.main_image1 {
    width: 300px;
    height: 220px;
    position: relative;
}


.main_image2 {
    width: 300px;
    height: 220px;
    background-image: url("../images/image (1).svg");
    background-size: cover;
    margin-left: 45px;
    margin-right: 45px;
}


.main_image3 {
    width: 300px;
    height: 220px;
    background-image: url("../images/image@2x.svg");
    background-size: cover;
}

.main_image4 {
    width: 300px;
    height: 220px;
    background-image: url("../images/image (2).svg");
    background-size: cover;
}

.main_image5 {
    width: 300px;
    height: 220px;
    background-image: url("../images/image2.png");
    background-size: cover;
    margin-left: 45px;
    margin-right: 45px;
}

.main_image6 {
    width: 300px;
    height: 220px;
    background-image: url("../images/image (4).svg");
    background-size: cover;
}

.main_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.main_text_position {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main_text_position2 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}


a:link {
    color: #FFFFFF;
}


.text_effects1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding: 10px;
    padding-left: 20px;
}

.text_effects2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 15px;
}

.text_effects3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-right: 20px;
}


p.text_effects3:after{
    content: " >";
}

.effects {
    display: flex;
    justify-content: space-between;
    background: #F26522;
    width: 300px;
    height: 55px;
    position: absolute;
    bottom: -29px;
    transform: scaleY(0);
    transition: 1s;
}

.main_image1:hover div.effects {
    bottom: 0px;
    transform: scale(1);
}